@import "fonts";
@import "variables";

a:hover{
	text-decoration: none;
}

.wrapper{
	.wrapper-head{
		background-color: $light-blue;
		.menu-nav{
			.wrapper-menu{

			}
		}
		.content-head{
			height: 400px;
			padding-top: 150px;
			h1{
				color: #333333;
				margin: 0;
				text-align: center;
			}
		}		
	}
	.wrapper-body{
		text-align: center;
		.title{
			color: $dark-gray;
			//font-family: $font-oswald;
			font-size: 40px;
			text-transform: uppercase;
		}
	}
}
