@import "fonts";
@import "variables";

a:hover{
	text-decoration: none;
}

.wrapper{
	.wrapper-head{
		background-color: $light-blue;
		.menu-nav{
			.wrapper-menu{

			}
		}
		.content-head{
			height: 400px;
			padding-top: 150px;
			h1{
				color: #333333;
				margin: 0;
				text-align: center;
			}
		}		
	}
	.wrapper-body{
		text-align: center;
		.title{
			color: $dark-gray;
			//font-family: $font-oswald;
			font-size: 40px;
			text-transform: uppercase;
		}
		.steps{
			margin: 0;
			padding: 30px 0;
			.step{
				text-align: center;
				img{
					display: inline-block;
				}
			}
		}
	}
}

footer{
	background-color: $dark-gray;
	color: $white;
	padding-top: 25px;
	.about_us, .services{
		.subtitle{
			text-transform: uppercase;
		}
		.options{
			padding: 0;
			.option{
				list-style: none;
				a{
					color: $white;
				}
			}
		}
	}
}
